*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* html, body {
    margin: 0;
    height: 100vh;
    width: 100vw; /* fit full viewport width 
    overflow: hidden;
} */

.header{
    display: flex;
    gap: 200px;
    margin:20px 60px 100px 60px;
    justify-content: center;
}
.logo{
    font-size: 0.9rem;
    font-family:  sans-serif;
    color: #222;
   
}
.List{
display: flex;
list-style: none;
gap: 20px;
font-size: .9em;
font-family:  sans-serif;
color: #888;
}

.username{
    /* width: 100px;
    height: 40px; */
    margin-top:-10px;
    padding: 0.5rem 1rem;
    color:blue;
    border-radius: 8px;
    background-color:lightblue;
    font-family: sans-serif ;
}
.username a{
    text-decoration: none;
    text-align: center;
    color: rgb(21, 102, 194);
}
.hero{
   margin: 50px;
   
  
    }
    .main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* margin-bottom: 50px; */
        justify-content:center;
        /* align-items: center; */
        margin-top: 0;
        padding: 0%;


    }
    .main{
        margin:40px 0;
    }
    .text{
        width: 300px;
        height: 200px;
        padding: 30px;
        margin-top:0px;
        
      }
    .text1{
        color: #444;
        font-family:sans-serif ;
        line-height: 40px;
    }
    .text2{
        color:rgb(36, 106, 182);
        font-family:sans-serif ;
        line-height: 40px;
    }
    .text3{
        color: #777;
        font-family:sans-serif ;
        margin-bottom: 20px;
        line-height: 25px;
    }
   
    .btn{
        /* width: 30%; */
        background-color: blue;
        font-family: sans-serif;
        padding: 1rem 2rem;
        color: white;
        font-weight: bold;
        border-radius: 10px;
        margin-top: 0%;
        /* margin-top: 20px; */
        width: 30%;
        margin-left: 500px;
        margin-top: 20px;
    
       
    }
    .image{
    
       /* margin-top: 50px; */
       background-color: white;
         background-blend-mode: hard-light;
        background-size:cover ;
         border-radius:10px ;
         /* height: 100%; */

    }
    .image img{
         width: 100%;
       
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    }
    @media(width<=1000px){
        .text{
            font-size: 90%;
            margin-bottom: 20px;
        }
        .btn{
            margin-left: 350px;
        }
    }
    
    @media (width<=768px){
        .header{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 40px;
            margin-bottom:50px;
            margin-left:0 20px;

        }
        .main{
            grid-template-columns:1fr ;
            gap: 20px;
            justify-content: center;
            align-items: center;
            height: 100%;
            margin: 20px;
        }
        .text{
            width: 100%;
            height: 150px;
            justify-content:center;
            align-items:center;
            margin-top: 0px;
            margin-bottom: 100px;
            margin-left: 10px;
           
           
        }
        .text1{
            font-size: 1.5rem;
            font-weight: bold;
            /* text-align: center; */
        }
        .text2{
            font-size: 1.5rem;
            font-weight: bold;
            /* text-align: center; */
        }
        .text3{
            font-weight: bold;
           
        }
        .image{
            width: 80%;
            margin: 20px 50px;
            

        }
        .btn{
            width: 70%;
            padding: 0.8rem 1rem;
            margin-left: 70px;
        }

    }
    @media (width<=480px){
        .header{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 40px;
            margin-bottom:50px;
            margin-left:0 20px;

        }
        .main{
            grid-template-columns:1fr ;
            gap: 20px;
            justify-content: center;
            align-items: center;
            height: 100%;
            margin: 20px;
        }
        .text{
            width: 100%;
            height: 200px;
            justify-content:center;
            align-items:center;
            margin-top: 0px;
            margin-bottom: 100px;
            margin-left: 10px;
           
           
        }
        .text1{
            font-size: 1rem;
            font-weight: bold;
            /* text-align: center; */
        }
        .text2{
            font-size: 1rem;
            font-weight: bold;
            /* text-align: center; */
        }
        .text3{
            font-size: 0.7rem;
            font-weight: bold;
           
        }
        .image{
            width: 80%;
            height: 150;
            margin: 30px 50px 10px 25px;
            

        }
        .btn{
            width: 70%;
            padding: 0.8rem 1rem;
            margin-left: 40px;
        }

        

    }